## clean and view data :

In [4]:
import pandas as pd
import numpy as np

In [5]:
diabete = pd.read_csv("diabetes.csv", header=0)
diabete.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [6]:
diabete.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [7]:
diabete.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

## task 1 : tinh do tuoi trung binh cua BN tieu duong (outcome = 1)

In [8]:
# task 1 : do tuoi trung binh cua BN tieu duong
age1 = diabete[diabete["Outcome"]==1][["Age"]]
age1.head()

   Age
0   50
2   32
4   33
6   26
8   53

In [9]:
age1.mean()

Age    37.067164
dtype: float64

## task 2 : co phai cang beo phi thi kha nang bi tieu duong cang cao ?

In [10]:
#task 2: co phai cang beo phi thi kha nang bi tieu duong cang cao
BMI = diabete[["BMI","Outcome"]]
BMI.head()

    BMI  Outcome
0  33.6        1
1  26.6        0
2  23.3        1
3  28.1        0
4  43.1        1

In [11]:
#11 BN co gia tri BMI = 0 ? 
BMI["BMI"].value_counts()

32.0    13
31.6    12
31.2    12
0.0     11
32.4    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 248, dtype: int64

In [12]:
# xoa nhung dong co BMI = 0
# BMI qua lon (>40) ? 
BMI = BMI[BMI["BMI"] != 0]
BMI["BMI"].value_counts()

32.0    13
31.6    12
31.2    12
32.4    10
33.3    10
        ..
36.7     1
41.8     1
42.6     1
42.8     1
46.3     1
Name: BMI, Length: 247, dtype: int64

In [13]:
# BMI trung binh trong nhom BN tieu duong va nhom BN ko tieu duong
BMI.groupby("Outcome")["BMI"].mean()

Outcome
0    30.859674
1    35.406767
Name: BMI, dtype: float64

In [59]:
# groupby theo BMI : 
# gay = 1: BMI <18.5
# binh thuong = 2: 18.5 <= BMI <25
# thua can = 3: 25 <= BMI <30
# beo phi = 4: BMI >=30

In [14]:
BMI["group BMI"] = 0

In [15]:
BMI.loc[BMI["BMI"] < 18.5, "group BMI"] = 1
BMI.loc[(BMI["BMI"] >= 18.5) & (BMI["BMI"] < 25), "group BMI"] = 2
BMI.loc[(BMI["BMI"] >= 25) & (BMI["BMI"] < 30), "group BMI"] = 3
BMI.loc[BMI["BMI"] >= 30, "group BMI"] = 4

In [16]:
BMI.groupby("group BMI")["Outcome"].count()

group BMI
1      4
2    102
3    179
4    472
Name: Outcome, dtype: int64

In [34]:
BMI_group = BMI.groupby(["group BMI","Outcome"])["Outcome"].count()

In [36]:
#tinh them ti le (%) 
BMI_total = BMI_group.groupby(level=0).transform("sum")
BMI_total

group BMI  Outcome
1          0            4
2          0          102
           1          102
3          0          179
           1          179
4          0          472
           1          472
Name: Outcome, dtype: int64

In [38]:
prop1 = BMI_group.div(BMI_total, level=0)
prop1

group BMI  Outcome
1          0          1.000000
2          0          0.931373
           1          0.068627
3          0          0.776536
           1          0.223464
4          0          0.536017
           1          0.463983
Name: Outcome, dtype: float64

In [19]:
correlation_BMI = BMI.corr()
correlation_BMI

                BMI   Outcome  group BMI
BMI        1.000000  0.313680   0.780516
Outcome    0.313680  1.000000   0.316184
group BMI  0.780516  0.316184   1.000000

## task 3 : co phai do tuoi cang lon thi kha nang bi tieu duong cang cao ?

In [40]:
#task 3: co phai do tuoi cang lon thi kha nang bi tieu duong cang cao
old_age = diabete[["Age","Outcome"]]
old_age.head()

   Age  Outcome
0   50        1
1   31        0
2   32        1
3   21        0
4   33        1

In [41]:
old_age.groupby("Outcome").mean()

               Age
Outcome
0        31.190000
1        37.067164

In [ ]:
# truong thanh = 1 : < 40 
# trung nien = 2 : 40 - 65
# gia = 3: >= 65 (>80 chi co 1 BN)

In [42]:
old_age["group age"] = 0

C:\Users\HaoLE\AppData\Local\Temp\ipykernel_10556\56749102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  old_age["group age"] = 0

In [43]:
old_age.loc[old_age["Age"] < 40, "group age"] = 1
old_age.loc[(old_age["Age"] >= 40) & (old_age["Age"] < 65), "group age"] = 2
old_age.loc[old_age["Age"] >= 65, "group age"] = 3

In [44]:
old_age.groupby("group age").count()

           Age  Outcome
group age
1          561      561
2          191      191
3           16       16

In [45]:
age_group = old_age.groupby(["group age","Outcome"])["Outcome"].count()

In [46]:
age_total = age_group.groupby(level=0).transform("sum")

In [48]:
prop2 = age_group.div(age_total, level=0)
prop2

group age  Outcome
1          0          0.714795
           1          0.285205
2          0          0.455497
           1          0.544503
3          0          0.750000
           1          0.250000
Name: Outcome, dtype: float64

In [51]:
corr2 = old_age.corr()
corr2

                Age   Outcome  group age
Age        1.000000  0.238356   0.879111
Outcome    0.238356  1.000000   0.187615
group age  0.879111  0.187615   1.000000

## task 4 : HA cao co lam tang ti le bi tieu duong ?

In [21]:
# task 4: HA cao co lam tang ti le bi tieu duong ?
DBP = diabete[["BloodPressure","Outcome"]]
DBP["BloodPressure"].value_counts()

70     57
74     52
78     45
68     45
72     44
64     43
80     40
76     39
60     37
0      35
62     34
66     30
82     30
88     25
84     23
90     22
86     21
58     21
50     13
56     12
52     11
54     11
75      8
92      8
65      7
85      6
94      6
48      5
96      4
44      4
100     3
106     3
98      3
110     3
55      2
108     2
104     2
46      2
30      2
122     1
95      1
102     1
61      1
24      1
38      1
40      1
114     1
Name: BloodPressure, dtype: int64

In [22]:
#xoa nhung dong co BDP = 0
DBP = DBP[DBP["BloodPressure"] != 0]

In [23]:
DBP.groupby("Outcome").mean()

         BloodPressure
Outcome
0            70.877339
1            75.321429

In [ ]:
# toi uu = 1 : < 80
# binh thuong = 2:80 - 84
# binh thuong cao = 3 :85 - 89
# THA do 1 = 4 : 90 - 99
# THA do 2 = 5 : 100 - 109
# THA do 3 = 6 :>= 110

In [24]:
DBP["group THA"] = 0

In [25]:
DBP.loc[DBP["BloodPressure"] < 80, "group THA"] = 1
DBP.loc[(DBP["BloodPressure"] >= 80) & (DBP["BloodPressure"] < 85), "group THA"] = 2
DBP.loc[(DBP["BloodPressure"] >= 85) & (DBP["BloodPressure"] < 90), "group THA"] = 3
DBP.loc[(DBP["BloodPressure"] >= 90) & (DBP["BloodPressure"] < 100), "group THA"] = 4
DBP.loc[(DBP["BloodPressure"] >= 100) & (DBP["BloodPressure"] < 110), "group THA"] = 5
DBP.loc[DBP["BloodPressure"] >= 110, "group THA"] = 6

In [26]:
DBP.head()

   BloodPressure  Outcome  group THA
0             72        1          1
1             66        0          1
2             64        1          1
3             66        0          1
4             40        1          1

In [27]:
DBP_group = DBP.groupby(["group THA","Outcome"]).count()
DBP_group

                   BloodPressure
group THA Outcome
1         0                  366
          1                  162
2         0                   55
          1                   38
3         0                   29
          1                   23
4         0                   24
          1                   20
5         0                    5
          1                    6
6         0                    2
          1                    3

In [29]:
group_total = DBP_group.groupby(level=0).transform("sum")
#group_total = DBP_group.groupby(level=0).sum()
group_total

                   BloodPressure
group THA Outcome
1         0                  528
          1                  528
2         0                   93
          1                   93
3         0                   52
          1                   52
4         0                   44
          1                   44
5         0                   11
          1                   11
6         0                    5
          1                    5

In [132]:
prop = DBP_group.div(group_total, level=0)
prop

                   BloodPressure
group THA Outcome
1         0             0.693182
          1             0.306818
2         0             0.591398
          1             0.408602
3         0             0.557692
          1             0.442308
4         0             0.545455
          1             0.454545
5         0             0.454545
          1             0.545455
6         0             0.400000
          1             0.600000

## task 5 : PN mang thai bao nhieu lan tro len thi xac suat bi tieu duong cao hon 40% ?

In [146]:
diabete["Outcome"].mean()

0.3489583333333333

In [148]:
diabete.groupby("Pregnancies")["Outcome"].mean()

Pregnancies
0     0.342342
1     0.214815
2     0.184466
3     0.360000
4     0.338235
5     0.368421
6     0.320000
7     0.555556
8     0.578947
9     0.642857
10    0.416667
11    0.636364
12    0.444444
13    0.500000
14    1.000000
15    1.000000
17    1.000000
Name: Outcome, dtype: float64

Conclusion : PN mang thai tu 7 lan tro len co xac suat bi DTD cao hon 40%.

## task 6 : tong ket nhung dau hieu cua 1 nguoi co kha nang bi tieu duong cao

In [161]:
#risk_factor = diabete[diabete["Outcome"]==1]
#risk_factor

In [162]:
corelation = diabete.corr()
print(corelation)

                          Pregnancies   Glucose  BloodPressure  SkinThickness  \
Pregnancies                  1.000000  0.129459       0.141282      -0.081672
Glucose                      0.129459  1.000000       0.152590       0.057328
BloodPressure                0.141282  0.152590       1.000000       0.207371
SkinThickness               -0.081672  0.057328       0.207371       1.000000
Insulin                     -0.073535  0.331357       0.088933       0.436783
BMI                          0.017683  0.221071       0.281805       0.392573
DiabetesPedigreeFunction    -0.033523  0.137337       0.041265       0.183928
Age                          0.544341  0.263514       0.239528      -0.113970
Outcome                      0.221898  0.466581       0.065068       0.074752
group BMI                    0.081232  0.221103       0.226790       0.359124

                           Insulin       BMI  DiabetesPedigreeFunction  \
Pregnancies              -0.073535  0.017683                 -0.033523
Glucose                   0.331357  0.221071                  0.137337
BloodPressure             0.088933  0.281805                  0.041265
SkinThickness             0.436783  0.392573                  0.183928
Insulin                   1.000000  0.197859                  0.185071
BMI                       0.197859  1.000000                  0.140647
DiabetesPedigreeFunction  0.185071  0.140647                  1.000000
Age                      -0.042163  0.036242                  0.033561
Outcome                   0.130548  0.292695                  0.173844
group BMI                 0.201032  0.813670                  0.101237

                               Age   Outcome  group BMI
Pregnancies               0.544341  0.221898   0.081232
Glucose                   0.263514  0.466581   0.221103
BloodPressure             0.239528  0.065068   0.226790
SkinThickness            -0.113970  0.074752   0.359124
Insulin                  -0.042163  0.130548   0.201032
BMI                       0.036242  0.292695   0.813670
DiabetesPedigreeFunction  0.033561  0.173844   0.101237
Age                       1.000000  0.238356   0.075697
Outcome                   0.238356  1.000000   0.307648
group BMI                 0.075697  0.307648   1.000000

Conclusion : Glucose, BMI, Age, Prenancies co tuong quan ro ret voi bien outcome.