# PREDICTION MODEL - IRIS DATASET

Author : HUYNH Tram-Anh

Sources : https://www.kaggle.com/datasets/uciml/iris

## Import libraries :

In [2]:
from sklearn import neighbors, datasets, preprocessing
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd

## Preprocessing data :

In [3]:
df = pd.read_csv("iris.csv", header=0)
df.head(10)

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
5   6            5.4           3.9            1.7           0.4  Iris-setosa
6   7            4.6           3.4            1.4           0.3  Iris-setosa
7   8            5.0           3.4            1.5           0.2  Iris-setosa
8   9            4.4           2.9            1.4           0.2  Iris-setosa
9  10            4.9           3.1            1.5           0.1  Iris-setosa

In [4]:
df.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

## Build model :

In [6]:
X_train = df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]][0:int(0.9*len(df))]
Y_train = df["Species"][0:int(0.9*len(df))]

In [7]:
X_test = df[["SepalLengthCm","SepalWidthCm","PetalLengthCm","PetalWidthCm"]][int(0.9*len(df)):]
Y_test = df["Species"][int(0.9*len(df)):]

In [8]:
#scaler = StandardScaler()
#X_train = scaler.fit_transform(X_train)
#X_test = scaler.transform(X_test)

In [9]:
#X_train[:5]

In [10]:
#X_test[:5]

In [11]:
knn = KNeighborsClassifier(n_neighbors=5)

In [12]:
knn.fit(X=X_train, y=Y_train)

KNeighborsClassifier()

In [13]:
y_prediction = knn.predict(X_test)

In [14]:
accuracy = accuracy_score(y_true=Y_test,y_pred=y_prediction)
accuracy*100

100.0

## New data point :

In [15]:
SepalLengthCm = float(input("CD dai hoa : "))
SepalWidthCm = float(input("CR dai hoa : "))
PetalLengthCm = float(input("CD canh hoa : "))
PetalWidthCm = float(input("CR canh hoa : "))

CD dai hoa : 4
CR dai hoa : 3
CD canh hoa : 2
CR canh hoa : 4

In [16]:
new_flower = [SepalLengthCm, SepalWidthCm, PetalLengthCm, PetalWidthCm]
prediction1_flower = knn.predict([new_flower])
prediction2_flower = knn.predict_proba([new_flower])  
print(prediction1_flower)
print(prediction2_flower)

['Iris-versicolor']
[[0. 1. 0.]]

C:\Users\HaoLE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\HaoLE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(